<PageTitle>
  {{this.model.user.display_name}}
</PageTitle>
<div class="layout-column">
  <div class="layout layout-align-center-center video-container">
    <TwitchVideo @video={{this.model.videos.firstObject}} class="twitch-video"/>
  </div>
  <div class="layout layout-wrap flex">
    {{#each this.model.videos as |video|}}
      <div class="flex-100 flex-gt-xs-50 flex-gt-sm-25 layout">
        {{#paper-card as |card|}}
          {{#link-to "videos" video}}
            {{card.image
              class="img-responsive"
              src=video.thumbnail
              alt=video.name
            }}
            {{#card.title as |title|}}
              {{#title.text as |text|}}
                {{#text.headline class="word-break text-align-center"}}
                  {{video.title}}
                {{/text.headline}}
                {{#text.subhead}}
                  {{video.language}}|{{video.user.display_name}}
                {{/text.subhead}}
              {{/title.text}}
            {{/card.title}}
          {{/link-to}}
        {{/paper-card}}
      </div>
    {{/each}}
  </div>
</div>
{{outlet}}